@use "@/sass/mixins" as *;

.title {
  display: inline-block;
}

.category-selector {
  margin-bottom: 32px;

  &__categories-list {
    display: flex;
    flex-wrap: wrap;
    gap: 24px;
  }
}

.category-container {
  display: contents;
}
